<!-- wp:heading -->
    <h2 class="wp-block-heading"> Instructors</h2>
    <!-- /wp:heading -->
    
    <!-- wp:custom-blocks/main-nav /-->
    
    <!-- wp:media-text {"mediaType":"image"} -->
    <div class="wp-block-media-text is-stacked-on-mobile"><figure class="wp-block-media-text__media"><img src="https://images.unsplash.com/photo-1599866193011-348f9eb29868?q=80&amp;w=1470&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt=""/></figure><div class="wp-block-media-text__content"><!-- wp:paragraph {"align":"center","fontSize":"large"} -->
    <p class="has-text-align-center has-large-font-size">Meet Our Team</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:paragraph {"align":"center"} -->
    <p class="has-text-align-center">All team members accepts all ranges of experience</p>
    <!-- /wp:paragraph --></div></div>
    <!-- /wp:media-text -->
    
    <!-- wp:group {"layout":{"type":"constrained","justifyContent":"right"}} -->
    <div class="wp-block-group"><!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group"><!-- wp:columns -->
    <div class="wp-block-columns"><!-- wp:column {"width":"100%"} -->
    <div class="wp-block-column" style="flex-basis:100%"></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:heading {"textAlign":"center","level":1} -->
    <h1 class="wp-block-heading has-text-align-center">Jane, Piano Specialist</h1>
    <!-- /wp:heading -->
    
    <!-- wp:group {"layout":{"type":"grid"}} -->
    <div class="wp-block-group"><!-- wp:image {"sizeSlug":"large","style":{"layout":{"columnSpan":1,"rowSpan":1}}} -->
    <figure class="wp-block-image size-large"><img src="https://images.unsplash.com/photo-1592621385612-4d7129426394?q=80&amp;w=687&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt=""/></figure>
    <!-- /wp:image -->
    
    <!-- wp:heading {"textAlign":"center","style":{"layout":{"columnSpan":3,"rowSpan":1}}} -->
    <h2 class="wp-block-heading has-text-align-center">Jane has been playing the piano since childhood, developing a rich background in both classical and contemporary styles. With years of performance and teaching experience, she creates a warm, personalized learning environment that emphasizes technical precision and expressive playing. Jane believes every student can find their unique musical voice with the right guidance. <em>For inquiries about Jane piano lesson, email Jane at jane@colinacademy.com</em></h2>
    <!-- /wp:heading --></div>
    <!-- /wp:group -->
    
    <!-- wp:separator -->
    <hr class="wp-block-separator has-alpha-channel-opacity"/>
    <!-- /wp:separator -->
    
    <!-- wp:heading {"textAlign":"center","level":1} -->
    <h1 class="wp-block-heading has-text-align-center">Mary, Guitar Specialist</h1>
    <!-- /wp:heading -->
    
    <!-- wp:group {"layout":{"type":"grid"}} -->
    <div class="wp-block-group"><!-- wp:image {"sizeSlug":"large","style":{"layout":{"columnSpan":1,"rowSpan":1}}} -->
    <figure class="wp-block-image size-large"><img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?w=1600&amp;auto=format&amp;fit=crop&amp;q=60&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fHdvbWFufGVufDB8fDB8fHww" alt=""/></figure>
    <!-- /wp:image -->
    
    <!-- wp:heading {"textAlign":"center","style":{"layout":{"columnSpan":3,"rowSpan":1}}} -->
    <h2 class="wp-block-heading has-text-align-center">Mary brings dynamic energy and a wealth of real-world performance experience to her guitar lessons. Specializing in both acoustic and electric styles, she focuses on helping students master chord progressions, rhythm techniques, and soloing skills. Mary’s approach is all about blending structured learning with creative expression, ensuring each session is both fun and challenging. <em>For inquiries about Mary guitar lesson, email Mary at mary@colinacademy.com</em></h2>
    <!-- /wp:heading --></div>
    <!-- /wp:group -->
    
    <!-- wp:separator -->
    <hr class="wp-block-separator has-alpha-channel-opacity"/>
    <!-- /wp:separator -->
    
    <!-- wp:heading {"textAlign":"center","level":1} -->
    <h1 class="wp-block-heading has-text-align-center">Sasha, Multi-Instrument Specialist for Beginners (Drums, Violin, Piano)</h1>
    <!-- /wp:heading -->
    
    <!-- wp:group {"layout":{"type":"grid"}} -->
    <div class="wp-block-group"><!-- wp:image {"sizeSlug":"large"} -->
    <figure class="wp-block-image size-large"><img src="https://images.unsplash.com/photo-1545291730-faff8ca1d4b0?w=1600&amp;auto=format&amp;fit=crop&amp;q=60&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGJlYXV0aWZ1bCUyMGJsYWNrJTIwd29tYW58ZW58MHx8MHx8fDA%3D" alt=""/></figure>
    <!-- /wp:image -->
    
    <!-- wp:heading {"textAlign":"center","style":{"layout":{"columnSpan":3,"rowSpan":1}}} -->
    <h2 class="wp-block-heading has-text-align-center">Sasha is dedicated to nurturing beginners and is skilled at introducing the fundamentals of drums, violin, and piano. Her versatile teaching style emphasizes patience, encouragement, and foundational skill-building, ensuring that every student feels supported as they explore different musical paths. Sasha believes in sparking a lifelong passion for music right from the start. <em>For inquiries about Sasha beginner programs, email Sasha at sasha@colinacademy.com</em></h2>
    <!-- /wp:heading --></div>
    <!-- /wp:group -->
    
    <!-- wp:separator -->
    <hr class="wp-block-separator has-alpha-channel-opacity"/>
    <!-- /wp:separator -->
    
    <!-- wp:heading {"textAlign":"center","level":1} -->
    <h1 class="wp-block-heading has-text-align-center">Peter, Violin Specialist</h1>
    <!-- /wp:heading -->
    
    <!-- wp:group {"layout":{"type":"grid"}} -->
    <div class="wp-block-group"><!-- wp:image {"sizeSlug":"large"} -->
    <figure class="wp-block-image size-large"><img src="https://images.unsplash.com/photo-1579038773867-044c48829161?q=80&amp;w=687&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt=""/></figure>
    <!-- /wp:image -->
    
    <!-- wp:heading {"textAlign":"center","style":{"layout":{"columnSpan":3,"rowSpan":1}}} -->
    <h2 class="wp-block-heading has-text-align-center">Peter’s journey with the violin began at an early age and has evolved into a robust background in classical performance and orchestral work. He emphasizes precision, technique, and emotional interpretation, tailoring lessons to meet the individual needs of his students. Peter’s philosophy centers on developing a deep, personal connection with music that goes beyond just the notes. <em>For inquiries about Peter violin lesson, email Peter at peter@colinacademy.com</em></h2>
    <!-- /wp:heading --></div>
    <!-- /wp:group -->
    
    <!-- wp:separator -->
    <hr class="wp-block-separator has-alpha-channel-opacity"/>
    <!-- /wp:separator -->
    
    <!-- wp:heading {"textAlign":"center","level":1} -->
    <h1 class="wp-block-heading has-text-align-center">Devante, Drum Specialist</h1>
    <!-- /wp:heading -->
    
    <!-- wp:group {"layout":{"type":"grid"}} -->
    <div class="wp-block-group"><!-- wp:image {"sizeSlug":"large"} -->
    <figure class="wp-block-image size-large"><img src="https://images.unsplash.com/photo-1614890085618-0e1054da74f8?w=1600&amp;auto=format&amp;fit=crop&amp;q=60&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGJsYWNrJTIwbWFufGVufDB8fDB8fHww" alt=""/></figure>
    <!-- /wp:image -->
    
    <!-- wp:heading {"style":{"layout":{"columnSpan":3,"rowSpan":1}}} -->
    <h2 class="wp-block-heading">Devante is an energetic drum specialist whose expertise spans various musical genres. His lessons focus on rhythm, coordination, and creative expression, designed to help students discover their personal beat while mastering solid drumming techniques. Devante’s engaging and hands-on approach makes each session both challenging and enjoyable. <em>For inquiries about Devante violin lesson, email Devante at devante@colinacademy.com</em></h2>
    <!-- /wp:heading --></div>
    <!-- /wp:group -->